<footer id="footer">
    <div class="container">
    	<p class="logo"><img src="assets/images/dxc_logo_hz_wht_rgb_150.png" alt="" height="45px"></p>
	    <p class="pull-right">
	    	<a href="http://www.hpe.com/us/en/legal/privacy.html">Privacy</a>
	    	<a href="http://www.hp.com/us/en/hpe/legal/terms-of-use.html">Terms of use</a>
	    </p>
    	<p class="pull-left">
	    	<a href="#">Union Web App</a>
	    	<p class="copyright">|&nbsp;© Copyright 2016 Hewlett Packard Enterprise Development Company, L.P.<br/>
	    	<span class="versions">
	        Version&nbsp;:&nbsp;&nbsp;{{vm.unionVersion}}</span></p>
	    </p>
    </div>
</footer>
